@import "./primary-ui.scss";

//General styles
body,
html {
  background: $background;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-container {
  display: flex;
  flex: auto;
  background: $back-light;
  min-height: 100vh;
  flex-direction: row;
}

.layout-nav {
  flex: 0 0 200px;
  width: 200px;
  min-height: 100vh;
  background: $white;
  color: $hint-color;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 2;
    vertical-align: middle;

    &.selected {
      background: $layout-hover;
      transition: all 0.25s;
      color: $dark;
    }

    a {
      display: block;
      padding-top: $space-7;
      padding-bottom: $space-7;
      transition: all 0.25s;

      &:hover {
        background: $layout-hover;
        transition: all 0.25s;
        color: $dark;
      }
    }
  }
}

.layout-content {
  flex: auto;
  min-height: 0;
  padding: $space-2;
}

.container {
  background: #ffffff;
  padding: $space-3;
}

.gui-detail {
  background: #ffffff;
  padding: $space-6;
  height: 100%;
}

.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-c {
  text-align: center;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}

.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}
.w70 {
  width: 70%;
}
.w50 {
  width: 50%;
}
.w30 {
  width: 30%;
}
.w25 {
  width: 24%;
}

.mt1 {
  margin-top: $space-1;
}
.mt2 {
  margin-top: $space-2;
}
.mt3 {
  margin-top: $space-3;
}
.mt4 {
  margin-top: $space-5;
}
.mt5 {
  margin-top: $space-7;
}

.mb1 {
  margin-bottom: $space-1;
}
.mb2 {
  margin-bottom: $space-2;
}
.mb3 {
  margin-bottom: $space-3;
}
.mb4 {
  margin-bottom: $space-5;
}
.mb5 {
  margin-bottom: $space-7;
}

.pv1 {
  padding-top: $space-5;
  padding-bottom: $space-5;
}
.pv2 {
  padding-top: $space-7;
  padding-bottom: $space-7;
}
.pv3 {
  padding-top: $space-8;
  padding-bottom: $space-8;
}

.pa1 {
  padding-left: $space-5;
  padding-right: $space-5;
}
.pa2 {
  padding-left: $space-7;
  padding-right: $space-7;
}
.pa3 {
  padding-left: $space-8;
  padding-right: $space-8;
}

.clipboard {
  @extend .pa3;
  color: $primary;
}

.radio-box {
  display: inline-block;

  .radio-btn {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    min-width: 50px;
    display: inline-block;
    margin-right: 5px;
    line-height: 18px;
    vertical-align: middle;
  }

  label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $hint-color;
    margin-right: 6px;
    vertical-align: middle;
  }
  /* 选中 */
  input:checked + label::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    bottom: 3px;
    margin: auto;
    background-color: $primary;
  }

  input:checked + label::before {
    border: 1px solid $primary;
  }
}

.gui-title {
  position: relative;
  background: $white;
  font-size: $font-3;
  padding: $space-6 $space-6 0 $space-6;

  .title {
    padding: 0 $space-6;
  }

  &::after {
    content: "";
    margin-top: 12px;
    display: block;
    height: 1px;
    border-bottom: 1px solid $divide;
  }
}

.title-label {
  font-size: $font-6;
  color: $text-primary;
  line-height: 1.8;
}

.gui-list {
  li {
    padding: $space-6;
    overflow: hidden;
    border-bottom: 1px solid $divide;
    vertical-align: middle;
  }

  .list-title {
    font-size: $font-7;
    color: $text-primary;
    letter-spacing: 0.5px;
  }

  .list-detail {
    font-size: $font-7;
    color: $hint-color;
  }

  .list-hint {
    display: inline-block;
    font-size: $font-7;
    color: $hint-color;
    width: 100px;
    margin-right: $space-6;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li {
    &:hover {
      background: $list-hover;
      color: $dark;
      letter-spacing: 0px;

      .list-title {
        font-weight: bold;
        letter-spacing: 0px;
      }

      .list-hint {
        color: $text-primary;
      }
    }
  }
}

.list-head {
  position: sticky;
  background: $white;
  font-size: $font-7;
  color: $text-light;
  padding: $space-7 $space-6;
  border-bottom: 1px solid $divide;
}
