//General attribute
$primary: #00af92;
$secondary: #e5681a;
$btn-hover: #04a88d;
$layout-hover: #ebebeb;
$background: #f0f0f0;
$back-light: #f9fafa;
$white: #fff;
$dark: #000;
$text-primary: rgba(53, 41, 41, 0.85);
$text-light: rgba(0, 0, 0, 0.5);
$hint-color: rgba(0, 0, 0, 0.65);
$border: #d9d9d9;
$border-hover: #e5681a;
$divide: #e8e8e8aa;
$red: #e5681a;
$font-1: 40px;
$font-2: 24px;
$font-3: 20px;
$font-4: 18px;
$font-5: 16px;
$font-6: 14px;
$font-7: 12px;
$space-1: 45px;
$space-2: 30px;
$space-3: 24px;
$space-4: 20px;
$space-5: 16px;
$space-6: 12px;
$space-7: 6px;
$space-8: 4px;
$height-100: 100vh;
$width-100: 100vw;

.font-bold {
  color: $hint-color;
  font-weight: bold;
  line-height: 1.8;
}
