@import "./primary-ui.scss";

.wallet-content {
  margin: auto;
  padding: $space-3;
  width: 640px;
  min-height: 410px;
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu-logo {
  width: 155px;
  margin: $space-4 auto $space-4 auto;

  &::before {
    content: " ";
    display: block;
    width: 100%;
    min-height: 60px;
    background: url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: none;
  }
}

.wallet-open {
  margin: auto;
  width: 370px;
}

.copyright {
  margin-top: $space-1;
  text-align: center;
  color: $text-light;
  font-weight: 400;
  font-size: $font-7;
  line-height: 1.7;
}

// .posi-sticky {
//   position: sticky;
//   top: 0;
// }

.wallet-list {
  @extend .scroll-bar;

  background: $white;
  padding: 0 $space-6;
  height: calc(100vh - 160px);
  overflow-y: auto;

  .list-head {
    top: 0;
    position: sticky;
    background: $white;
    z-index: 5;
  }

  .gui-list {
    li {
      overflow: hidden;
      border-bottom: 1px solid $divide;
      vertical-align: middle;
    }
  }
}

.asset-list {
  @extend .scroll-bar;
  height: 400px;
  overflow-y: auto;
}
